MARKETAUX_API_KEY=
FINNHUB_API_KEY=
ALPHAVANTAGE_API_KEY=
OPENCLAW_MODEL=unknown
F1_SIGNALR_SESSION_KEY=
F1_SIGNALR_SESSION_NAME=
F1_SIGNALR_INGEST_URL=http://127.0.0.1:8787/api/f1/ingest/session
F1_SIGNALR_BASE_URL=livetiming.formula1.com/signalr
F1_SIGNALR_HUB=Streaming
F1_SIGNALR_TOPICS=Heartbeat,SessionInfo,TrackStatus,LapCount,DriverList,TimingData,TimingAppData,WeatherData,RaceControlMessages
F1_SIGNALR_PUSH_INTERVAL=2
